.popularMoviePage {
    /*height: 100%;*/
    /*position: relative;*/
    /*max-height: 1200px;*/
    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
