
.genres-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.genres-list>span{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: rgba(169, 169, 169, 0.27);
    margin: 10px 0 10px 25px;
}

.genres-list ul{
    width: 100%;
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.genres-list ul li{
    padding: 8px 0;
}

.genres-list ul li>span{
    margin-left: 25px;
}

.genres-list ul li:hover {
    background-color: rgba(169, 169, 169, 0.27);
    cursor: pointer;
}