*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/
  font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/image-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #3a3a3a;
}


.container{
    margin: 30px auto;
    width: 75%;
    /*height: 950px;*/
    display: flex;
}

a{
    text-decoration: none;
    /*color: dodgerblue;*/
}

.left-side{
    width: 17%;
    height: 100%;
    background-color: rgba(30, 39, 78, 0.98);
    border-radius: 40px 0 0 40px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: aliceblue;
}

.left-side>hr{
    width: 85%;
    height: 2px;
    border: none;
    background-color: rgba(169, 169, 169, 0.33);
    margin: 20px 0;
    align-self: center;
}


.content-container{
    width: 100%;
    background-color: rgba(244, 244, 244, 0.96);
    border-radius: 40px;
    padding: 20px 60px 30px 60px;
    margin-bottom: 30px;

    /*--------*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    /*--------*/
}

.content-container>hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: rgba(169, 169, 169, 0.33);
    align-self: center;

}

.main-content-container{
    margin-top: 25px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.content-container-01{
    /*max-height: 720px;*/
    /*overflow: auto;*/
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 30px;
}

.right-sidebar{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-sidebar>hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: rgba(169, 169, 169, 0.33);
    margin: 10px 0;
    align-self: center;
}