

.popular-list{
    position: relative;
    display: flex;
    flex-direction: column;
}

.popular-list-objects-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.popular-list-small-navigation>span:first-child{
    color: #3a3a3a;
    font-weight: 600;
}

.popular-list-small-navigation>span:last-of-type{
    margin-left: 20px;
    color: dodgerblue;
    cursor: pointer;
    font-size: 12px;
}

.popular-list-image-container{
    position: relative;
    width: 110px;
    height: 150px;
    cursor: pointer;
}

.main-paige-poster{
    width: 100%;
    height: 100%;
    display: block;
}

.hover-cover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.37);
    width: 100%;
    height: 100%;
}

.main-paige-poster, .hover-cover{
    border-radius: 10px;
}

.popular-list-image-container:hover .hover-cover{
    display: none;

}

.popular-list-image-container-title{
    margin-top: 5px;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    color: #3a3a3a;
}